<!-- -------------------- Hero Start -------------------- -->
<section class="hero d-flex align-items-center">
  <div
    class="container mx-auto d-flex align-items-center justify-content-between"
  >
    <div class="w-50 pe-lg-5">
      <h1>Fresh Juice</h1>
      <p class="my-2">
        We Beleive That Healthy Eating, Clean Air And, Gental Char Best Start To
        Genuinw Wellbeging.
      </p>
      <% if(user && user.role == "admin"){ %>
      <a
        href="/admin/menu/addJuice"
        type="button"
        class="add_juice_btn btn btn_orange shop_now_btn my-3"
      >
        Add Juice
      </a>
      <% } else { %>
      <a href="#menu" type="button" class="btn btn_orange shop_now_btn my-3">
        Shop Now
      </a>
      <% } %>
    </div>
    <div class="w-50">
      <img class="w-100 ps-lg-5" src="/img/hero-juice.png" alt="" />
    </div>
  </div>
</section>
<!-- -------------------- Hero End -------------------- -->

<!-- -------------------- Menu Start -------------------- -->
<section class="menu container mx-auto" id="menu">
  <div class="heading my-5 pt-5">
    <h3 class="fw-bold text-center">All Products</h3>
    <hr />
  </div>
  <div class="menu_items row gy-5">
    <% juices.forEach((juice) => { %>
    <div class="col-lg-3 col-6">
      <div class="product">
        <img src="<%= juice.image %>" alt="" />
        <div class="text-center p-3">
          <h4 class="mb-3"><%= juice.name %></h4>
          <span class="badge bg-secondary rounded-pill text-uppercase px-3"
            ><%= juice.quantity %></span
          >
          <div class="d-flex align-items-center justify-content-around mt-3">
            <span class="h5 mb-0 fw-bold">Rs. <%= juice.price %></span>
            <% if(user && user.role == "admin") { %>
            <a
              href="/admin/menu/editJuice/<%= juice._id %>"
              class="btn edit_btn"
            >
              <span class="me-2"><i class="lar la-edit"></i></span>
              <span>Edit</span>
            </a>
            <% }else{ %>
            <button
              data-juice="<%= JSON.stringify(juice) %>"
              class="btn add_to_cart_btn"
            >
              <span class="me-2">+</span>
              <span>Add</span>
            </button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>
<!-- -------------------- Menu End -------------------- -->
