<section class="edit_juice d-flex align-items-center">
  <div
    class="container mx-auto d-flex align-items-center justify-content-center"
  >
    <div class="card p-5">
      <% if(messages.success) { %>
      <div
        class="alert alert-success py-2 px-3 mb-4 d-flex align-items-center"
        role="alert"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-check2-circle mx-2"
          viewBox="0 0 16 16"
        >
          <path
            d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
          />
          <path
            d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
          />
        </svg>
        <%= messages.success %>
      </div>
      <% } %>
      <div class="title">
        <h3>Edit Item Details :</h3>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-4">
          <img
            src="<%= menu.image %>"
            class="img-fluid rounded-start"
            alt="<%= menu.name %>"
          />
        </div>
        <div class="col-md-8 px-4">
          <form
            action="/admin/menu/editJuice/<%= menu._id %>/update"
            method="POST"
          >
            <div class="my-3">
              <label for="juiceNameInput" class="form-label">Juice Name</label>
              <input
                type="text"
                name="juice_name"
                value="<%= menu.name %>"
                placeholder="Juice Name"
                class="form-control"
                id="juiceNameInput"
              />
            </div>
            <div class="my-3">
              <label for="juiceQuantityInput" class="form-label"
                >Quantity</label
              >
              <input
                type="text"
                name="quantity"
                value="<%= menu.quantity %>"
                placeholder="00 ml/l"
                class="form-control"
                id="juiceQuantityInput"
              />
            </div>
            <div class="my-3">
              <label for="juicePriceInput" class="form-label">Price</label>
              <input
                type="text"
                name="price"
                value="<%= menu.price %>"
                placeholder="00"
                class="form-control"
                id="juicePriceInput"
              />
            </div>
            <button type="submit" class="btn btn_orange w-25 my-2">Save</button>
            <a
              type="button"
              data-juice_id="<%= JSON.stringify(menu._id) %>"
              class="delete_juice_btn btn btn_red w-25 m-2"
            >
              Delete
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
