<section class="edit_item d-flex align-items-center">
  <div
    class="container mx-auto d-flex align-items-center justify-content-center"
  >
    <div class="card p-5">
      <div class="title">
        <h3>Edit Item Details :</h3>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-4">
          <img
            src="/img/<%= menu.image %>"
            class="img-fluid rounded-start"
            alt="<%= menu.name %>"
          />
        </div>
        <div class="col-md-8 px-4">
          <form action="/admin/editItem/<%= menu._id %>/update" method="POST">
            <div class="my-3">
              <label for="juiceNameInput" class="form-label">Juice Name</label>
              <input
                type="text"
                name="juice_name"
                value="<%= menu.name %>"
                placeholder="Juice Name"
                class="form-control"
                id="juiceNameInput"
              />
            </div>
            <div class="my-3">
              <label for="juiceQuantityInput" class="form-label"
                >Quantity</label
              >
              <input
                type="text"
                name="quantity"
                value="<%= menu.quantity %>"
                placeholder="00 ml/l"
                class="form-control"
                id="juiceQuantityInput"
              />
            </div>
            <div class="my-3">
              <label for="juicePriceInput" class="form-label">Price</label>
              <input
                type="text"
                name="price"
                value="<%= menu.price %>"
                placeholder="00"
                class="form-control"
                id="juicePriceInput"
              />
            </div>
            <button type="submit" class="btn btn_orange w-25 my-2">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
